-
    /*
    button-block ({
        type: string,   // button | reset | submit
        name: string,
        value: string,
        text: string,
        theme: string   // default(any value) | bordered | backgroundless | long
    })
    */
mixin button-block(values)
    -
        var buttonClass = "button-block";
        var textClass = "button-block__text";
        switch(values.theme){
            case "bordered":
                buttonClass += " button-block_bordered";
                textClass += " button-block__text_bordered";
                break;
            case "backgroundless":
                buttonClass += " button-block_backgroundless";
                textClass += " button-block__text_backgroundless";
                break;
            case "long":
                buttonClass += " button-block_long";
                textClass += " button-block__text_long";
                break;
        }
    button(
        class=buttonClass
        type=values.type
        name=values.name
        value=values.value
    )
        p(class=textClass)= values.text