-
    /*
        button ({
            type: string,   // button | reset | submit
            name: string,
            value: string,
            text: string,
            theme: string,  // default(any value) | bordered | backgroundless | with-arrow | low | low-bordered
        })
    */
mixin button(values)
    -
        if(!(values.type == "button" || values.type == "reset" || values.type == "submit")) values.type = "submit";

        values.class = values.theme ? ["button", "button_" + values.theme] : ["button"];
        values["text class"] = values.theme ? ["button__text", "button__text_" + values.theme] : ["button__text"];
    button(
        class=values.class
        type=values.type
        name=values.name
        value=values.value
    )
        p(class=values["text class"])= values.text