-
    /*
        date-dropdown ({
            name: string,
            value: string
        })
    */
mixin date-dropdown(values)
    div(class="date-dropdown")
        input(
            class="date-dropdown__input"
            type="text"
            name=values.name
            value=values.value
            placeholder="ДД.ММ.ГГГГ"
        )
