include ../like-button/like-button.pug
-
    /*
        review ({
            author: string,
            date: string,
            photo: string,
            text: string
        })
    */
mixin review(values)
    - let backgroundImage = `background-image: url(./files/${values.photo})`;
    div(class="review")
        p(class="review__author")
            | #{values.author}
            br
            | #{values.date}
        div(class="review__photo" style=backgroundImage)
        p(class="review__text")= values.text
        div(class="review__like-button")
            +like-button()



