-
    /*
        rooms-dropdown ({
            "bedrooms input name": string,
            "beds input name": string,
            "bathrooms input name": string
        })
    */
mixin rooms-dropdown(values)
    -
        if(!("bedrooms input name" in values)) values["bedrooms input name"] = "bedrooms-count";
        if(!("beds input name" in values)) values["beds input name"] = "beds-count";
        if(!("bathrooms input name" in values)) values["bathrooms input name"] = "bathrooms-count";
    div(class="rooms-dropdown")
        p(class="rooms-dropdown__text") 0 спальни, 0 кровати, 0 ванные комнаты
        div(class="rooms-dropdown__item-list")
            div(class="rooms-dropdown__item")
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_increase")
                input(
                    type="text"
                    name=values["bedrooms input name"]
                    class="rooms-dropdown__count-text"
                    value="0"
                    disabled="disabled"
                )
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_decrease rooms-dropdown__count-button_inactive")
                p(class="rooms-dropdown__item-text") Спальни

            div(class="rooms-dropdown__item")
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_increase")
                input(
                    type="text"
                    name=values["beds input name"]
                    class="rooms-dropdown__count-text"
                    value="0"
                    disabled="disabled"
                )
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_decrease rooms-dropdown__count-button_inactive")
                p(class="rooms-dropdown__item-text") Кровати

            div(class="rooms-dropdown__item")
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_increase")
                input(
                    type="text"
                    name=values["bathrooms input name"]
                    class="rooms-dropdown__count-text"
                    value="0"
                    disabled="disabled"
                )
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_decrease rooms-dropdown__count-button_inactive")
                p(class="rooms-dropdown__item-text") Ванные комнаты


