include ../../blocks/forms/search-form/search-form.pug
include ../../blocks/forms/registration-form/registration-form.pug
include ../../blocks/forms/reservation-form/reservation-form.pug
include ../../blocks/forms/login-form/login-form.pug

include ../../blocks/calendar/calendar.pug
include ../../blocks/preview/preview.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Cards
  body(class="cards")
    main(class="cards__container")


      //- Первая колонка
      div(class="cards__forms-column")

        //- SEARCH FORM
        div(class="cards__form")
          +search-form({})

        //- REGISTRATION FORM
        div(class="cards__form")
          +registration-form({})


      //- Вторая колонка
      div(class="cards__forms-column")
        
        //- RESERVATION FORM
        div(class="cards__form")
          +reservation-form({
            room: 888,
            luxe: true,
            price: 9990,
            firstDate: "19.08.2019",
            lastDate: "23.08.2019"
          })

        //- LOGIN FORM
        div(class="cards__form")
          +login-form({})


      //- Третья колонка
      div(class="cards__forms-column")

        //- CALENDAR
        div(class="cards__calendar")
          +calendar()


        //- PREVIEW
        div(class="cards__preview")
          +preview({
            photos: [
              `${webpackConfig.output.publicPath}files/2510dccc3aab21597da711673f509391.jpg`,
              `${webpackConfig.output.publicPath}files/2510dccc3aab21597da711673f5093912.jpg`,
              `${webpackConfig.output.publicPath}files/2510dccc3aab21597da711673f5093913.jpg`,
              `${webpackConfig.output.publicPath}files/2510dccc3aab21597da711673f5093914.jpg`
            ],
            room: 888,
            luxe: true,
            price: 9990,
            rating: 5,
            reviews: 145 
          })
        div(class="cards__preview")
          +preview({
            photos: [
              `${webpackConfig.output.publicPath}files/c196edfce8e208d3d142ceb4cd85380f.jpg`,
              `${webpackConfig.output.publicPath}files/c196edfce8e208d3d142ceb4cd85380f.jpg`,
              `${webpackConfig.output.publicPath}files/c196edfce8e208d3d142ceb4cd85380f.jpg`,
              `${webpackConfig.output.publicPath}files/c196edfce8e208d3d142ceb4cd85380f.jpg`
            ],
            room: 840,
            price: 9900,
            rating: 4,
            reviews: 65
          })

