include ../../calendar/calendar.pug

-
    /*
        filter-date-dropdown ({
            firstInputName: string,
            secondInputName: string
        })
    */
mixin filter-date-dropdown(values)
    div(class="filter-date-dropdown")
        input(
            class="filter-date-dropdown__input"
            type="hidden"
            name=values.firstInputName
            value=""
        )
        input(
            class="filter-date-dropdown__input"
            type="hidden"
            name=values.secondInputName
            value=""
        )
        p(class="filter-date-dropdown__text")
        div(class="filter-date-dropdown__calendar")
            +calendar()

