include ../button/button.pug


-
    /*
        header ({
            items: [
                {
                    text: string,
                    url: string
                    current: bool,
                    withArrow: bool
                }
            ]
            logged: bool
        })
    */
mixin header(values)
    header(class="header")
        div(class="header__content")

            a(class="header__logo" href=`${webpackConfig.output.publicPath}landing-page.html`)


            div(class= (values.logged == true) ? "header__account" : "header__account header__account_disabled")
                p(class="header__account-name") Юлий Цезарь


            div(class= (values.logged == true) ? "header__buttons header__buttons_disabled" : "header__buttons")
                a(class="header__sign-in-button" href=`${webpackConfig.output.publicPath}sign-in.html`)
                    +button({
                        type: "login",
                        name: "login",
                        value: "login",
                        text: "Войти",
                        theme: "low-bordered"
                    })
                a(class="header__registration-button" href=`${webpackConfig.output.publicPath}registration.html`)
                    +button({
                        type: "register",
                        name: "register",
                        value: "register",
                        text: "Зарегистрироваться",
                        theme: "low"
                    })


            
            nav(class="header__menu")
                - for (let item of values.items)
                    div(class= "header__menu-item")
                        a(
                            class= "header__item-link" + (item.current ? "  header__item-link_current" : "") + (item.withArrow ? "  header__item-link_with-arrow" : "")
                            href= item.url
                        )= item.text





